# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/
.env/

# Databases
*.db

# PyCharm
.idea/
OLD/OLD report_budget.html
OLD/OLD edit_budget.py
OLD/OLD budget_manage.html
OLD/OLD app.py
OLD/גיבוי לפני הוספת דוחות/app.py
OLD/גיבוי לפני הוספת דוחות/static/style.css
OLD/גיבוי לפני הוספת דוחות/templates/add_expense.html
OLD/גיבוי לפני הוספת דוחות/templates/budget.html
OLD/גיבוי לפני הוספת דוחות/templates/edit_expense.html
OLD/גיבוי לפני הוספת דוחות/templates/expenses.html
OLD/גיבוי לפני הוספת דוחות/templates/index.html
OLD/גיבוי לפני הוספת דוחות/templates/reports.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/app.py
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/static/style.css
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/add_expense.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/budget.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/edit_expense.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/expenses.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/index.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/reports.html
OLD/גיבוי - לפני הוספת תשלומים 27.11.25/templates/tabs.html
OLD/גיבוי לפני הוספת דוחות 25.11.25/app.py
OLD/גיבוי לפני הוספת דוחות 25.11.25/static/style.css
OLD/גיבוי לפני הוספת דוחות 25.11.25/templates/add_expense.html
OLD/גיבוי לפני הוספת דוחות 25.11.25/templates/budget.html
OLD/גיבוי לפני הוספת דוחות 25.11.25/templates/edit_expense.html
OLD/גיבוי לפני הוספת דוחות 25.11.25/templates/expenses.html
OLD/גיבוי לפני הוספת דוחות 25.11.25/templates/index.html
OLD/גיבוי לפני הוספת דוחות 25.11.25/templates/reports.html
